.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; /* Conservez ou ajustez la couleur de fond selon vos préférences */
  padding: 20px; /* Ajustez le padding pour réduire l'espace, vous pouvez également utiliser des valeurs spécifiques pour top/bottom et left/right */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px; /* Ajoutez un margin-bottom si nécessaire pour séparer du contenu suivant */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
